body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background: url(./img/quiz-background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    /* background-color: white; */
}

.card {
    border-radius: 8px !important;
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border: 2px solid transparent;
    border-radius: inherit;
    background-image: linear-gradient(0deg, rgba(81, 148, 201, 1) 10%, rgba(214, 35, 183, 1) 100%);
}

.card-img-top {
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 8px !important;
}

.quiz-card {
    width: 30rem;
}

.quiz-card-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.175);
}