body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background: url(./img/quiz-background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    /* background-color: white; */
}

.card {
    width: 400px;
    border-radius: 8px !important;
    border: 1px solid black !important;
}

.card-img-top {
    aspect-ratio: 4/3;
    object-fit: cover;
}